.weather {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  position: relative;
  height: 50px;
  display: flex;
  &__temp-symbol {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  &__text {
    margin-left: 10px;
  }
}
