.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0px 50px;
  
}
.weather-wrap {
  position: fixed;
  top: 10px;
  left: 10px;
}
.setting-wrap {
  position: fixed;
  top: 10px;
  right: 50px;
  cursor: pointer;
}
