.background-img {
    &__bg {
        // content: url(https://source.unsplash.com/1920x1080);
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
